
*.map
*.rtl.*
gulpfile.js
package.json
package-lock.json
node_modules
build/
vendor/
node_modules
prueba2.html
prueba.html
.vscode
labsuseraws.pem
pru.html
pru*   
servicios_pruebaJS*
tablas.mwb*
pru.php
prueba2.html
prueba.html
pru.php
labsuseraws.pem
tablas.mwb
tablas.mwb.bak
.env